

<div class="preloader-wrapper">
  <div class="preloader">
  </div>
</div>

<!--HEADER-->
<app-header></app-header>

<!-- Main Section Menu PROMO -->
<app-promo></app-promo>

<!-- Section 2: BestSelling Products -->
<app-category></app-category>

<!-- Section 3: Popular Brands -->
<app-new-brands></app-new-brands>


<!-- Section 4: Vente Products -->
<app-trending-product></app-trending-product>

<!--Section 5 Annonce Promo-->
<app-annonce-promo></app-annonce-promo>

<!---Section 6 Meilleure Vente-->
<app-best-selling-product></app-best-selling-product>

<!--Section New Letter---->
<app-new-letter></app-new-letter>

<!--Most Popular Product-->
<app-popular-products></app-popular-products>

<!--Just Arrived---->
<app-recently-arrived></app-recently-arrived>

<!--Blog-->
<app-blog></app-blog>

<!---Peaople Looking-->
<app-people-looking></app-people-looking>
<!--App Service-->
<app-application-service></app-application-service>

<!--Footer-->
<app-footer></app-footer>
